<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'includes/test.html' %}
    <h1>fgfgfg</h1>
    <h2></h2>
    <h2></h2>
    <p></p>
    <h1>real midl Chat</h1>
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off"/>
        <input type="hidden"  id="user">
        <!-- <select name="" id="user">
            <option disabled>Выберите юсера</option>
        </select> -->

        <button>Send</button>
    </form>
    <ul id='messages'>
    </ul>
    <div class="user-list"></div>
</body>
<script>

    var client_id = Date.now()
    console.log(client_id)
    var ws = new WebSocket("wss://glebhleb.herokuapp.com/ws/1");

    ws.onmessage = async function(event) {
        var messages = document.getElementById('messages')
        var message = document.createElement('li')
        let message_data = JSON.parse(event.data)
        let user_message = message_data.message
        let user= message_data.user
        let resp = await fetch('/users/me/items',{
            headers:{
                'Authorization':`Bearer ${token}`
            }
         }
         )
         console.log(user_message)
        let res = await resp.json()
        let key;
        for (key of res){
            if (key.name == user){

                var content = document.createTextNode(`я отправил: ${user_message}`);
                message.appendChild(content)
                messages.appendChild(message)

                console.log(document.createTextNode)
                console.log(content)

            }
            if (key.name != user){
                var content = document.createTextNode(`${user } отправил: ${user_message}`);
                message.appendChild(content)
                messages.appendChild(message)
            }

        };
    }
    function sendMessage(event) {
        let input = document.getElementById("messageText")
        let us = document.getElementById('user')
        console.log(us.value)
        let uu = JSON.stringify({
            "text":input.value,
            'user_id':us.value,
            "room_id":1,
            'date':'2020-11-18 11:57:44.936+04'
        })

        ws.send(uu)
        input.value = ''
        event.preventDefault()
    }
    function get_cookie ( cookie_name )
    {
      var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );

      if ( results )
        return ( unescape ( results[2] ) );
      else
        return null;
    }

    const token = get_cookie('access_token')

 async function getResp(){
     let resp = await fetch('/users/me/items',{
        headers:{
            'Authorization':`Bearer ${token}`
        }
     }
     )
    let res = await resp.json()
    let key;
    for (key of res){
        console.log(key)
        let myView = document.querySelector('p');
        let myViewtwo = document.querySelector('#user');
        myView.innerHTML +=  `<li>${key.user.name}</li>`
        for (let it of key.users_all){
            let user_name = it.name
            console.log('users',user_name)
            document.querySelector('.user-list').innerHTML +=  `<li>${user_name}</li>`
            myViewtwo.value = key.user.id

    }
    }
 };
 getResp()
document.querySelector('.tester').innerHTML += 'hhhh'
</script>
</html>