<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form" method="POST"  >
        <label for="name">ваше имя</label>
        <input class="name" type="text" name="name" placeholder="name">

        <label for="password">введите пароль</label>
        <input class="password" type="text" type="submit" name="password" placeholder="password">
        <br>
        <button class="uuu" type="submit" value="Submit"  >Регистрация</button>
    </form>
</body>
<script>
    function get_cookie ( cookie_name )
    {
      var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );

      if ( results )
        return ( unescape ( results[2] ) );
      else
        return null;
    }
    let form = document.querySelector('.uuu')
    form.onclick= scoA
    function scoA(e){
        e.preventDefault();
        let name = document.querySelector('.name').value

        let password = document.querySelector('.password').value
       fetch('http://127.0.0.1:8000/token', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
            'name':name,
            'password':password,

        }),
      })
        .then((res) => res.json())
        .then((data) => {


          let access_token = data.access_token
          let token_type = data.token_type
          document.cookie=encodeURIComponent('access_token')+ '=' +encodeURIComponent(access_token)
          document.cookie=encodeURIComponent('token_type ')+ '=' +encodeURIComponent(token_type )
          console.log(get_cookie('access_token'))

        })
        .catch((err) => console.log('gggg',err));


    }
</script>
</html>